{{#statics}}{{#first}}
    companion object {
{{/first}}{{#type}}{{#DECIMAL}}        private val {{&staticName}} = {{#value}}{{#isZero}}BigDecimal.ZERO{{/isZero}}{{^isZero}}BigDecimal("{{&rawNumber}}"){{/isZero}}{{/value}}
{{/DECIMAL}}{{#STRING}}        private const val {{&staticName}} = {{&value.kotlinString}}
{{/STRING}}{{#PATTERN}}        private val {{&staticName}} = Regex({{&value.kotlinString}})
{{/PATTERN}}{{/type}}{{#last}}    }
{{/last}}{{/statics}}