{{! is it a long?
}}{{#isLong}}value is Long || value is Int{{/isLong}}{{^isLong}}{{! is it a decimal?
}}{{#isDecimal}}value is {{&decimalClass.className}} || value is Long || value is Int{{/isDecimal}}{{^isDecimal}}{{!
}}value is {{>type}}{{/isDecimal}}{{/isLong}}