{{>header}}{{#packageName}}package {{&packageName}}

{{/packageName}}{{#constraints}}{{>system_imports}}{{#imports}}import {{&.}}
{{#last}}
{{/last}}{{/imports}}{{#schema}}{{#description}}/**
 * {{&safeDescription}}
 */
{{/description}}{{/schema}}{{#numberOfProperties}}{{>data_open_class}} {{&className}}(
{{#baseClass}}{{#constraints}}{{#properties}}{{#schema}}{{#description}}    /** {{&safeDescription}} */
{{/description}}{{/schema}}    {{&kotlinName}}: {{>type}}{{#defaultValue}} = {{>default_value}}{{/defaultValue}}{{!
}}{{^isRequired}}{{^defaultValue}} = null{{/defaultValue}}{{/isRequired}},
{{/properties}}{{/constraints}}{{/baseClass}}{{#properties}}{{#schema}}{{#description}}    /** {{&safeDescription}} */
{{/description}}{{/schema}}    val {{&kotlinName}}: {{>type}}{{#defaultValue}} = {{>default_value}}{{/defaultValue}}{{!
}}{{^isRequired}}{{^defaultValue}} = null{{/defaultValue}}{{/isRequired}}{{^last}},{{/last}}
{{/properties}}){{>extends_implements}}{{#validationsOrNestedClassesOrStaticsOrBaseClassWithPropertiesPresent}} {

{{#validationsPresent}}    init {
{{#properties}}{{>validations}}{{/properties}}    }
{{/validationsPresent}}{{#hasBaseClassWithProperties}}{{>equals}}
{{>hashcode}}
{{/hasBaseClassWithProperties}}{{#nestedClasses}}
{{#constraints}}{{#indent.increment}}{{>nested_class}}{{/indent.increment}}{{/constraints}}{{/nestedClasses}}{{>add_statics}}
}{{/validationsOrNestedClassesOrStaticsOrBaseClassWithPropertiesPresent}}{{/numberOfProperties}}{{!
}}{{^numberOfProperties}}open class {{&className}}{{>extends_implements}}{{!
}}{{#nestedClasses}}{{#first}} {
{{/first}}
{{#constraints}}{{#indent.increment}}{{>nested_class}}{{/indent.increment}}{{/constraints}}{{#last}}
}{{/last}}{{/nestedClasses}}{{/numberOfProperties}}{{/constraints}}
