{{>header}}{{#packageName}}package {{&packageName}}

{{/packageName}}{{#constraints}}{{>system_imports}}{{#markerInterfaceImport}}import {{&.}}

{{/markerInterfaceImport}}{{#imports}}import {{&.}}
{{#last}}
{{/last}}{{/imports}}{{#schema}}{{#description}}/**
 * {{&safeDescription}}
 */
{{/description}}{{/schema}}{{#numberOfProperties}}data class {{&className}}(
{{#properties}}{{#schema}}{{#description}}        /** {{&safeDescription}} */
{{/description}}{{/schema}}        val {{&name}}: {{>type}}{{#defaultValue}} = {{>default_value}}{{/defaultValue}}{{!
}}{{^isRequired}}{{^defaultValue}} = null{{/defaultValue}}{{/isRequired}}{{^last}},{{/last}}
{{/properties}}){{#markerInterfaceName}} : {{&.}}{{/markerInterfaceName}}{{#validationsOrNestedClassesOrStaticsPresent}} {
{{#validationsPresent}}
    init {
{{#properties}}{{>validations}}{{/properties}}    }
{{/validationsPresent}}{{#nestedClasses}}
{{#constraints}}{{#indent.increment}}{{>nested_class}}{{/indent.increment}}{{/constraints}}{{/nestedClasses}}{{>add_statics}}
}{{/validationsOrNestedClassesOrStaticsPresent}}{{/numberOfProperties}}{{!
}}{{^numberOfProperties}}class {{&className}}{{#markerInterfaceName}} : {{&.}}{{/markerInterfaceName}}{{/numberOfProperties}}{{!
}}{{/constraints}}
