{{#properties}}{{#first}}Any?{{/first}}{{/properties}}{{^properties}}{{#patternProperties}}{{#first}}Any?{{/first}}{{/patternProperties}}{{^patternProperties}}{{#additionalProperties}}{{>type}}{{/additionalProperties}}{{/patternProperties}}{{/properties}}