{{#packageName}}package {{&packageName}}

{{/packageName}}{{>system_imports}}{{#imports}}import {{&.}}
{{#last}}
{{/last}}{{/imports}}{{#description}}/**
 * {{&description}}
 */
{{/description}}data class {{&nameFromURI}}(
{{#properties}}{{#schema}}{{#description}}        /** {{&safeDescription}} */
{{/description}}{{/schema}}        val {{&name}}: {{>type}}{{^isRequired}} = {{!
}}{{#defaultValue}}{{>default_value}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}}{{/isRequired}}{{^last}},{{/last}}
{{/properties}}){{#validationsOrNestedClassesOrStaticsPresent}} {
{{#validationsPresent}}
    init {
{{#properties}}{{>validation}}{{/properties}}    }
{{/validationsPresent}}{{#nestedClasses}}
{{#constraints}}{{>nested_class}}{{/constraints}}{{/nestedClasses}}{{#staticsPresent}}
    companion object {
{{#statics}}{{#type}}{{#PATTERN}}        private val {{&staticName}} = Regex({{&value}})
{{/PATTERN}}{{/type}}{{/statics}}    }
{{/staticsPresent}}
}{{/validationsOrNestedClassesOrStaticsPresent}}
