{{#constraints}}{{#derivedClasses}}{{#first}}open {{/first}}{{/derivedClasses}}{{!
}}{{^derivedClasses}}{{^hasBaseClassWithProperties}}data {{/hasBaseClassWithProperties}}{{/derivedClasses}}class{{/constraints}}