{{#type}}{{#NULL}}null{{/NULL}}{{!
}}{{#INTEGER}}{{&defaultValue}}{{/INTEGER}}{{!
}}{{#STRING}}{{&defaultValue.kotlinString}}{{/STRING}}{{!
}}{{#BOOLEAN}}{{&defaultValue}}{{/BOOLEAN}}{{!
}}{{#ARRAY}}{{#uniqueItems}}setOf{{/uniqueItems}}{{^uniqueItems}}listOf{{/uniqueItems}}({{#defaultValue}}{{>default_value}}{{^last}}, {{/last}}{{/defaultValue}}){{/ARRAY}}{{/type}}