{{>header}}{{#packageName}}package {{&packageName}}

{{/packageName}}{{#constraints}}{{#schema}}{{#description}}{{&indent}}/**
{{&indent}} * {{&description}}
{{&indent}} */
{{/description}}{{/schema}}{{/constraints}}{{>enum_body}}