    override fun equals(other: Any?): Boolean = this === other || other is {{&className}}{{#baseClass}} && super.equals(other){{/baseClass}}{{#nonBaseProperties}} &&
            {{&kotlinName}} == other.{{&kotlinName}}{{/nonBaseProperties}}
