{{&indent}}    override fun equals(other: Any?): Boolean = this === other || other is {{&className}}{{#hasBaseClassWithProperties}} &&
{{&indent}}            super.equals(other){{/hasBaseClassWithProperties}}{{#nonBaseProperties}} &&
{{&indent}}            {{&kotlinName}} == other.{{&kotlinName}}{{/nonBaseProperties}}
