    override fun hashCode(): Int = {{#baseClass}}super.hashCode(){{#nonBaseProperties}} xor
            {{&kotlinName}}.hashCode(){{/nonBaseProperties}}{{/baseClass}}{{^baseClass}}{{#properties}}{{^baseProperty}}
            {{&kotlinName}}.hashCode(){{^last}} xor{{/last}}{{/baseProperty}}{{/properties}}{{^properties}}0{{/properties}}{{/baseClass}}