{{>header}}{{#packageName}}package {{&packageName}}

{{/packageName}}{{#constraints}}{{>system_imports}}{{#imports}}import {{&.}}
{{#last}}
{{/last}}{{/imports}}{{#schema}}{{#description}}/**
* {{&safeDescription}}
*/
{{/description}}{{/schema}}interface {{&className}}{{>extends_implements}}{{#validationsOrNestedClassesOrStaticsOrBaseClassWithPropertiesPresent}} {

{{#nestedClasses}}
  {{#constraints}}{{#indent.increment}}{{>nested_class}}{{/indent.increment}}{{/constraints}}{{/nestedClasses}}{{>add_statics}}
}{{/validationsOrNestedClassesOrStaticsOrBaseClassWithPropertiesPresent}}{{/constraints}}
