{{! number
}}{{#isIntOrLong}}{{>nested_validation_int}}{{/isIntOrLong}}{{! string
}}{{#isString}}{{>nested_validation_string}}{{/isString}}{{! array
}}{{#isArray}}{{>nested_validation_array}}{{/isArray}}