{{#schema}}{{#description}}    /**
     * {{&safeDescription}}
     */
{{/description}}{{/schema}}{{#isObject}}    {{#numberOfProperties}}{{>data_open_class}} {{&className}}({{!
}}{{#properties}}{{^first}},{{/first}}
{{#schema}}{{#description}}        /** {{&safeDescription}} */
{{/description}}{{/schema}}        {{^baseProperty}}val {{/baseProperty}}{{&kotlinName}}: {{>type}}{{#defaultValue}} = {{>default_value}}{{/defaultValue}}{{!
}}{{^isRequired}}{{^defaultValue}} = null{{/defaultValue}}{{/isRequired}}{{/properties}}
    ){{>extends_implements}}{{#validationsOrBaseClassWithPropertiesPresent}} {

{{#validationsPresent}}        init {
{{#properties}}{{>validations}}{{/properties}}        }

{{/validationsPresent}}{{#hasBaseClassWithProperties}}
{{>equals}}
{{>hashcode}}
{{>tostring}}
{{>copy}}
{{>component}}

{{/hasBaseClassWithProperties}}    }{{/validationsOrBaseClassWithPropertiesPresent}}{{/numberOfProperties}}{{^numberOfProperties}}open class {{&className}}{{/numberOfProperties}}{{/isObject}}{{#isString}}    enum class {{&className}} {
{{#enumValues}}        {{&.}}{{^last}},{{/last}}
{{/enumValues}}    }{{/isString}}
