{{#isObject}}    {{#numberOfProperties}}{{>data_open_class}} {{&className}}({{!
}}{{#properties}}{{^first}},{{/first}}
{{#schema}}{{#description}}        /** {{&safeDescription}} */
{{/description}}{{/schema}}{{!
}}{{#indent.increment}}{{#fieldAnnotated}}{{>annotations}}{{/fieldAnnotated}}{{/indent.increment}}{{!
}}        {{^baseProperty}}{{^extendedInDerived}}val {{/extendedInDerived}}{{/baseProperty}}{{!
}}{{#baseProperty}}{{#extendedInDerived}}override val {{/extendedInDerived}}{{/baseProperty}}{{!
}}{{&kotlinName}}: {{>type}}{{#defaultValue}} = {{>default_value}}{{/defaultValue}}{{!
}}{{^isRequired}}{{^defaultValue}} = null{{/defaultValue}}{{/isRequired}}{{/properties}}
    ){{>extends_implements}}{{#validationsOrBaseClassWithPropertiesPresent}} {

{{#validationsPresent}}        init {
{{#properties}}{{>validations}}{{/properties}}        }

{{/validationsPresent}}{{#hasBaseClassWithProperties}}
{{#properties}}{{#extendedInDerived}}        open val {{&kotlinName}}: {{>type}} = {{&kotlinName}}
{{/extendedInDerived}}{{/properties}}
{{>equals}}
{{>hashcode}}
{{>tostring}}
{{>copy}}
{{>component}}

{{/hasBaseClassWithProperties}}    }{{/validationsOrBaseClassWithPropertiesPresent}}{{/numberOfProperties}}{{!
}}{{^numberOfProperties}}open class {{&className}}{{/numberOfProperties}}{{/isObject}}{{!
}}{{#isString}}{{>enum_body}}{{/isString}}