{{#maxItemsPresent}}            require({{&name}}.size <= {{&maxItems}}) { "{{&name}} length > maximum - " + {{&name}}.size }
{{/maxItemsPresent}}{{#minItemsPresent}}            require({{&name}}.size >= {{&minItems}}) { "{{&name}} length < minimum - " + {{&name}}.size }
{{/minItemsPresent}}