{{#schema}}{{#description}}    /**
     * {{&safeDescription}}
     */
{{/description}}{{/schema}}{{#isObject}}    {{#numberOfProperties}}data class {{&className}}(
{{#properties}}{{#schema}}{{#description}}            /** {{&safeDescription}} */
{{/description}}{{/schema}}            val {{&name}}: {{>type}}{{^isRequired}} = {{!
}}{{#defaultValue}}{{>default_value}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}}{{/isRequired}}{{^last}},{{/last}}
{{/properties}}    ){{#validationsPresent}} {

        init {
{{#properties}}{{>validations}}{{/properties}}        }

    }{{/validationsPresent}}{{/numberOfProperties}}{{^numberOfProperties}}class {{&className}}{{/numberOfProperties}}{{/isObject}}{{#isString}}    enum class {{&className}} {
{{#enumValues}}        {{&.}}{{^last}},{{/last}}
{{/enumValues}}    }{{/isString}}
