{{#maxItemsPresent}}        require({{#nullable}}{{&name}} == null || {{/nullable}}{{&name}}.size <= {{&maxItems}}) { "{{&name}} length > maximum - " + {{&name}}.size }
{{/maxItemsPresent}}{{#minItemsPresent}}        require({{#nullable}}{{&name}} == null || {{/nullable}}{{&name}}.size >= {{&minItems}}) { "{{&name}} length < minimum - " + {{&name}}.size }
{{/minItemsPresent}}