{{#properties}}{{#first}}Any?{{/first}}{{/properties}}{{!
}}{{^properties}}{{#patternProperties}}{{#first}}Any?{{/first}}{{/patternProperties}}{{!
}}{{^patternProperties}}{{#additionalProperties}}{{>type}}{{/additionalProperties}}{{!
}}{{^additionalProperties}}Any?{{/additionalProperties}}{{/patternProperties}}{{/properties}}