{{#numberOfProperties}}{{>data_open_class}} {{&className}}({{!
}}{{#properties}}{{^first}},{{/first}}
{{#schema}}{{#description}}    /** {{&safeDescription}} */
{{/description}}{{/schema}}{{#indent.increment}}{{#fieldAnnotated}}{{>annotations}}{{/fieldAnnotated}}{{/indent.increment}}{{!
}}    {{#overridesInterface}}override val {{/overridesInterface}}{{^overridesInterface}}{{!
}}{{^baseProperty}}{{#overridden}}open val {{/overridden}}{{^overridden}}{{^extendedInDerived}}val {{/extendedInDerived}}{{/overridden}}{{/baseProperty}}{{!
}}{{#baseProperty}}{{#extendedInDerived}}override val {{/extendedInDerived}}{{/baseProperty}}{{!
}}{{/overridesInterface}}{{&kotlinName}}: {{>type}}{{#defaultValue}} = {{>default_value}}{{/defaultValue}}{{!
}}{{^isRequired}}{{^defaultValue}} = null{{/defaultValue}}{{/isRequired}}{{/properties}}
){{>extends_implements}}{{#validationsOrNestedClassesOrStaticsOrBaseClassWithPropertiesPresentOrIsBaseClass}} {

{{#validationsPresent}}    init {{&trace}}{
{{#properties}}{{>validations}}{{/properties}}    }
{{/validationsPresent}}{{#hasBaseClassWithPropertiesOrIsBaseClass}}
{{#properties}}{{#extendedInDerived}}    open val {{&kotlinName}}: {{>type}} = {{&kotlinName}}
{{/extendedInDerived}}{{/properties}}
{{>equals}}
{{>hashcode}}
{{>tostring}}
{{>copy}}
{{>component}}
{{/hasBaseClassWithPropertiesOrIsBaseClass}}{{#nestedClasses}}
{{#constraints}}{{#indent.increment}}{{>nested_class}}
{{/indent.increment}}{{/constraints}}{{/nestedClasses}}{{>add_statics}}
}{{/validationsOrNestedClassesOrStaticsOrBaseClassWithPropertiesPresentOrIsBaseClass}}{{/numberOfProperties}}{{!
}}{{^numberOfProperties}}interface {{&className}}{{>extends_implements}}{{!
}}{{#validationsOrNestedClassesOrStaticsOrBaseClassWithPropertiesPresentOrIsBaseClass}} {

{{#nestedClasses}}{{#constraints}}{{#indent.increment}}{{>nested_class}}
{{/indent.increment}}{{/constraints}}{{/nestedClasses}}{{>add_statics}}
}{{/validationsOrNestedClassesOrStaticsOrBaseClassWithPropertiesPresentOrIsBaseClass}}{{/numberOfProperties}}