{{#hasBaseClass}}{{#baseClass}} : {{&className}}({{#constraints}}{{#properties}}{{^first}}, {{/first}}{{&kotlinName}}{{/properties}}{{/constraints}}){{!
}}{{/baseClass}}{{#interfaces}}, {{&className}}{{/interfaces}}{{/hasBaseClass}}{{!
}}{{^baseClass}}{{#interfaces}}{{#first}} : {{/first}}{{^first}}, {{/first}}{{&className}}{{/interfaces}}{{/baseClass}}