{{&trace}}{{#schema}}{{#description}}    /**
     * {{&safeDescription}}
     */
{{/description}}{{/schema}}{{>annotations}}{{!
}}{{#additionalPropertiesOption}}{{#IGNORE}}{{>nested_class_normal}}{{/IGNORE}}{{!
}}{{#STRICT}}{{#additionalPropertiesFalse}}{{#hasProperties}}{{^hasPatternProperties}}{{>nested_class_normal}}{{/hasPatternProperties}}{{!
}}{{#hasPatternProperties}}{{>nested_class_map}}
{{&indent}}{{&closeBrace}}{{/hasPatternProperties}}{{/hasProperties}}{{!
}}{{^hasProperties}}{{^hasPatternProperties}}{{>class_empty}}{{/hasPatternProperties}}{{!
}}{{#hasPatternProperties}}{{>nested_class_map}}
{{&indent}}{{&closeBrace}}{{/hasPatternProperties}}{{/hasProperties}}{{!
}}{{/additionalPropertiesFalse}}{{#additionalPropertiesTrue}}{{>nested_class_map}}
{{&indent}}{{&closeBrace}}{{/additionalPropertiesTrue}}{{!
}}{{#additionalPropertiesSchema}}{{>nested_class_map}}
{{&indent}}{{&closeBrace}}{{/additionalPropertiesSchema}}{{/STRICT}}{{!
}}{{/additionalPropertiesOption}}