{{>header}}{{#packageName}}package {{&packageName}};

{{/packageName}}{{#constraints}}{{>system_imports}}{{#imports}}import {{&.}};
{{#last}}
{{/last}}{{/imports}}{{#schema}}{{#description}}/**
 * {{&safeDescription}}
 */
{{/description}}{{/schema}}public class {{&className}}{{>extends_implements}} {
{{>add_statics}}
{{#nonBaseProperties}}    private final {{>type}} {{&javaName}};
{{#last}}
{{/last}}{{/nonBaseProperties}}{{#numberOfProperties}}    public {{&className}}(
{{#baseClass}}{{#constraints}}{{#properties}}            {{>type}} {{&javaName}},
{{/properties}}{{/constraints}}{{/baseClass}}{{#nonBaseProperties}}            {{>type}} {{&javaName}}{{^last}},{{/last}}
{{/nonBaseProperties}}    ) {
{{#baseClass}}{{#constraints}}        super({{#properties}}{{&javaName}}{{^last}}, {{/last}}{{/properties}});
{{/constraints}}{{/baseClass}}{{#nonBaseProperties}}{{^isPrimitive}}{{^nullable}}        if ({{&javaName}} == null)
            {{>tniae}}("Must not be null - {{&javaName}}");
{{/nullable}}{{/isPrimitive}}{{>validations}}        this.{{&javaName}} = {{&javaName}};
{{/nonBaseProperties}}    }

{{/numberOfProperties}}{{>getters}}{{>equals}}
{{>hashcode}}{{#nestedClasses}}
{{#constraints}}{{#indent.increment}}{{>nested_class}}{{/indent.increment}}{{/constraints}}{{/nestedClasses}}
}{{/constraints}}
