{{>header}}{{#packageName}}package {{&packageName}};

{{/packageName}}{{#constraints}}{{#schema}}{{#description}}/**
 * {{&description}}
 */
{{/description}}{{/schema}}public enum {{&className}} {
{{#enumValues}}    {{&.}}{{^last}},{{/last}}
{{/enumValues}}{{&closeBrace}}{{/constraints}}
