{{&indent}}    @Override
{{&indent}}    public boolean equals(Object other) {
{{&indent}}        if (this == other)
{{&indent}}            return true;
{{&indent}}        if (!(other instanceof {{&className}}))
{{&indent}}            return false;
{{#properties}}{{#first}}{{&indent}}        {{&className}} typedOther = ({{&className}})other;
{{/first}}{{#last}}{{#isPrimitive}}{{&indent}}        return {{&name}} == typedOther.{{&name}};
{{/isPrimitive}}{{^isPrimitive}}{{#nullable}}{{&indent}}        return {{&name}} == null ? typedOther.{{&name}} == null : {{&name}}.equals(typedOther.{{&name}});
{{/nullable}}{{^nullable}}{{&indent}}        return {{&name}}.equals(typedOther.{{&name}});
{{/nullable}}{{/isPrimitive}}{{/last}}{{^last}}{{#isPrimitive}}{{&indent}}        if ({{&name}} != typedOther.{{&name}})
{{/isPrimitive}}{{^isPrimitive}}{{#nullable}}{{&indent}}        if ({{&name}} == null ? typedOther.{{&name}} != null : !{{&name}}.equals(typedOther.{{&name}}))
{{/nullable}}{{^nullable}}{{&indent}}        if (!{{&name}}.equals(typedOther.{{&name}}))
{{/nullable}}{{/isPrimitive}}{{&indent}}            return false;
{{/last}}{{/properties}}{{^properties}}{{&indent}}        return true;
{{/properties}}{{&indent}}    }
