{{&indent}}    @Override
{{&indent}}    public boolean equals(Object other) {
{{&indent}}        if (this == other)
{{&indent}}            return true;
{{&indent}}        if (!(other instanceof {{&className}}))
{{&indent}}            return false;
{{#baseClass}}{{&indent}}        if (!super.equals(other))
{{&indent}}            return false;
{{/baseClass}}{{#nonBaseProperties}}{{#first}}{{&indent}}        {{&className}} typedOther = ({{&className}})other;
{{/first}}{{#last}}{{#isPrimitive}}{{&indent}}        return {{&name}} == typedOther.{{&name}};
{{/isPrimitive}}{{^isPrimitive}}{{#isEnumClass}}{{&indent}}        return {{&name}} == typedOther.{{&name}};
{{/isEnumClass}}{{^isEnumClass}}{{#nullable}}{{&indent}}        return {{&name}} == null ? typedOther.{{&name}} == null : {{&name}}.equals(typedOther.{{&name}});
{{/nullable}}{{^nullable}}{{&indent}}        return {{&name}}.equals(typedOther.{{&name}});
{{/nullable}}{{/isEnumClass}}{{/isPrimitive}}{{/last}}{{^last}}{{#isPrimitive}}{{&indent}}        if ({{&name}} != typedOther.{{&name}})
{{/isPrimitive}}{{^isPrimitive}}{{#isEnumClass}}{{&indent}}        if ({{&name}} != typedOther.{{&name}})
{{/isEnumClass}}{{^isEnumClass}}{{#nullable}}{{&indent}}        if ({{&name}} == null ? typedOther.{{&name}} != null : !{{&name}}.equals(typedOther.{{&name}}))
{{/nullable}}{{^nullable}}{{&indent}}        if (!{{&name}}.equals(typedOther.{{&name}}))
{{/nullable}}{{/isEnumClass}}{{/isPrimitive}}{{&indent}}            return false;
{{/last}}{{/nonBaseProperties}}{{^nonBaseProperties}}{{&indent}}        return true;
{{/nonBaseProperties}}{{&indent}}    }
