{{&indent}}    @Override
{{&indent}}    public int hashCode() {
{{#hasBaseClassWithProperties}}{{#nonBaseProperties}}{{#first}}{{&indent}}        int hash = super.hashCode();
{{/first}}{{^last}}{{&indent}}        hash ^= {{>hash_value}};
{{/last}}{{#last}}{{&indent}}        return hash ^ {{>hash_value}};
{{/last}}{{/nonBaseProperties}}{{^nonBaseProperties}}{{&indent}}        return super.hashCode();
{{/nonBaseProperties}}{{/hasBaseClassWithProperties}}{{^hasBaseClassWithProperties}}{{#properties}}{{&indent}}        {{#first}}{{#last}}return{{/last}}{{^last}}int hash ={{/last}}{{/first}}{{^first}}{{#last}}return hash ^{{/last}}{{^last}}hash ^={{/last}}{{/first}} {{!
}}{{>hash_value}};
{{/properties}}{{^properties}}{{&indent}}        return 0;
{{/properties}}{{/hasBaseClassWithProperties}}{{&indent}}    }
