{{&indent}}    @Override
{{&indent}}    public int hashCode() {
{{&indent}}        int hash = 0;
{{#properties}}{{&indent}}        hash ^= {{#isInt}}{{&name}}{{/isInt}}{{^isInt}}{{#isLong}}(int){{&name}}{{/isLong}}{{^isLong}}{{!
}}{{#isBoolean}}{{&name}} ? 1 : 0{{/isBoolean}}{{^isBoolean}}{{!
}}{{#nullable}}{{&name}} != null ? {{&name}}.hashCode() : 0{{/nullable}}{{^nullable}}{{!
}}{{&name}}.hashCode(){{/nullable}}{{/isBoolean}}{{/isLong}}{{/isInt}};
{{/properties}}{{&indent}}        return hash;
{{&indent}}    }
