{{#isInt}}{{&javaName}}{{/isInt}}{{^isInt}}{{#isLong}}(int){{&javaName}}{{/isLong}}{{^isLong}}{{!
}}{{#isBoolean}}({{&javaName}} ? 1 : 0){{/isBoolean}}{{^isBoolean}}{{!
}}{{#nullable}}({{&javaName}} != null ? {{&javaName}}.hashCode() : 0){{/nullable}}{{^nullable}}{{!
}}{{&javaName}}.hashCode(){{/nullable}}{{/isBoolean}}{{/isLong}}{{/isInt}}