{{#description}}    /**
     * {{&description}}
     */
{{/description}}    public static class {{&className}} {

{{#properties}}        private final {{>type}} {{&name}};
{{/properties}}
        public {{&className}}(
{{#properties}}                {{>type}} {{&name}}{{^last}},{{/last}}
{{/properties}}        ) {
{{#properties}}{{^isPrimitive}}{{^nullable}}            if ({{&name}} == null)
                {{>tniae}}("Must not be null - {{&name}}");
{{/nullable}}{{/isPrimitive}}{{>validations}}            this.{{&name}} = {{&name}};
{{/properties}}        }
{{>getters}}
{{>equals}}
{{>hashcode}}
    }
