{{#maximumPresent}}            if ({{&name}} > {{&maximum}})
                {{>tniae}}("{{&name}} > maximum {{&maximum}} - " + {{&name}});
{{/maximumPresent}}{{#exclusiveMaximumPresent}}            if ({{&name}} >= {{&exclusiveMaximum}})
                {{>tniae}}("{{&name}} >= exclusiveMaximum {{&exclusiveMaximum}} - " + {{&name}});
{{/exclusiveMaximumPresent}}{{#minimumPresent}}            if ({{&name}} < {{&minimum}})
                {{>tniae}}("{{&name}} < minimum {{&minimum}} - " + {{&name}});
{{/minimumPresent}}{{#exclusiveMinimumPresent}}            if ({{&name}} <= {{&exclusiveMinimum}})
                {{>tniae}}("{{&name}} <= minimum {{&exclusiveMinimum}} - " + {{&name}});
{{/exclusiveMinimumPresent}}{{#multipleOfPresent}}            if ({{&name}} % {{&multipleOf}} != 0)
                {{>tniae}}("{{&name}} not multiple of {{&multipleOf}} - " + {{&name}});
{{/multipleOfPresent}}