{{#validations}}{{#type}}{{#EMAIL}}            if (!JSONValidation.isEmail({{&propertyName}}))
                {{>tniae}}("{{&propertyName}} does not match format email - " + {{&propertyName}});
{{/EMAIL}}{{#HOSTNAME}}            if (!JSONValidation.isHostname({{&propertyName}}))
                {{>tniae}}("{{&propertyName}} does not match format hostname - " + {{&propertyName}});
{{/HOSTNAME}}{{#IPV4}}            if (!JSONValidation.isIPV4({{&propertyName}}))
                {{>tniae}}("{{&propertyName}} does not match format ipv4 - " + {{&propertyName}});
{{/IPV4}}{{#IPV6}}            if (!JSONValidation.isIPV6({{&propertyName}}))
                {{>tniae}}("{{&propertyName}} does not match format ipv6 - " + {{&propertyName}});
{{/IPV6}}{{#PATTERN}}            if (!{{#value}}{{&staticName}}{{/value}}.matcher({{&propertyName}}).matches())
                {{>tniae}}("{{&propertyName}} does not match pattern " + {{#value}}{{&staticName}}{{/value}} + " - " + {{&propertyName}});
{{/PATTERN}}{{#MAXIMUM}}            if ({{&propertyName}} > {{&value}})
                {{>tniae}}("{{&propertyName}} > maximum {{&value}} - " + {{&propertyName}});
{{/MAXIMUM}}{{#MINIMUM}}            if ({{&propertyName}} < {{&value}})
                {{>tniae}}("{{&propertyName}} < minimum {{&value}} - " + {{&propertyName}});
{{/MINIMUM}}{{#DECIMAL_MAXIMUM}}            if ({{&propertyName}}.compareTo({{#value}}{{&staticName}}{{/value}}) > 0)
                {{>tniae}}("{{&propertyName}} > maximum {{#value}}{{&value}}{{/value}} - " + {{&propertyName}});
{{/DECIMAL_MAXIMUM}}{{#DECIMAL_EXCLUSIVE_MAXIMUM}}            if ({{&propertyName}}.compareTo({{#value}}{{&staticName}}{{/value}}) >= 0)
                {{>tniae}}("{{&propertyName}} >= exclusive maximum {{#value}}{{&value}}{{/value}} - " + {{&propertyName}});
{{/DECIMAL_EXCLUSIVE_MAXIMUM}}{{#DECIMAL_MINIMUM}}            if ({{&propertyName}}.compareTo({{#value}}{{&staticName}}{{/value}}) < 0)
                {{>tniae}}("{{&propertyName}} < minimum {{#value}}{{&value}}{{/value}} - " + {{&propertyName}});
{{/DECIMAL_MINIMUM}}{{#DECIMAL_EXCLUSIVE_MINIMUM}}            if ({{&propertyName}}.compareTo({{#value}}{{&staticName}}{{/value}}) <= 0)
                {{>tniae}}("{{&propertyName}} <= exclusive minimum {{#value}}{{&value}}{{/value}} - " + {{&propertyName}});
{{/DECIMAL_EXCLUSIVE_MINIMUM}}{{#MULTIPLE}}            if ({{&propertyName}} % {{&value}} != 0)
                {{>tniae}}("{{&propertyName}} not a multiple of {{&value}} - " + {{&propertyName}});
{{/MULTIPLE}}{{#DECIMAL_MULTIPLE}}            if ({{&propertyName}}.remainder({{#value}}{{&staticName}}{{/value}}) != 0)
                {{>tniae}}("{{&propertyName}} not a multiple of {{#value}}{{&value}}{{/value}} - " + {{&propertyName}});
{{/DECIMAL_MULTIPLE}}{{#MAX_ITEMS}}            if ({{&propertyName}}.size() > {{&value}})
                {{>tniae}}("{{&propertyName}} length > maximum {{&value}} - " + {{&propertyName}}.size());
{{/MAX_ITEMS}}{{#MIN_ITEMS}}            if ({{&propertyName}}.size() < {{&value}})
                {{>tniae}}("{{&propertyName}} length < minimum {{&value}} - " + {{&propertyName}}.size());
{{/MIN_ITEMS}}{{#MAX_LENGTH}}            if ({{&propertyName}}.length() > {{&value}})
                {{>tniae}}("{{&propertyName}} length > maximum {{&value}} - " + {{&propertyName}}.length());
{{/MAX_LENGTH}}{{#MIN_LENGTH}}            if ({{&propertyName}}.length() < {{&value}})
                {{>tniae}}("{{&propertyName}} length < minimum {{&value}} - " + {{&propertyName}}.length());
{{/MIN_LENGTH}}{{#CONST_STRING}}            if (!{{#value}}{{&staticName}}{{/value}}.equals({{&propertyName}}))
                {{>tniae}}("{{&propertyName}} not constant value " + {{#value}}{{&staticName}}{{/value}} + " - " + {{&propertyName}});
{{/CONST_STRING}}{{/type}}{{/validations}}