{{#validations}}{{#type}}{{#EMAIL}}{{&indent}}        if ({{>nullchk}}!JSONValidation.isEmail({{&propertyName}}))
{{&indent}}            {{>tniae}}("{{&displayName}} does not match format email - " + {{&propertyName}});
{{/EMAIL}}{{#HOSTNAME}}{{&indent}}        if ({{>nullchk}}!JSONValidation.isHostname({{&propertyName}}))
{{&indent}}            {{>tniae}}("{{&displayName}} does not match format hostname - " + {{&propertyName}});
{{/HOSTNAME}}{{#IPV4}}{{&indent}}        if ({{>nullchk}}!JSONValidation.isIPV4({{&propertyName}}))
{{&indent}}            {{>tniae}}("{{&displayName}} does not match format ipv4 - " + {{&propertyName}});
{{/IPV4}}{{#IPV6}}{{&indent}}        if ({{>nullchk}}!JSONValidation.isIPV6({{&propertyName}}))
{{&indent}}            {{>tniae}}("{{&displayName}} does not match format ipv6 - " + {{&propertyName}});
{{/IPV6}}{{#DURATION}}{{&indent}}        if ({{>nullchk}}!JSONValidation.isDuration({{&propertyName}}))
{{&indent}}            {{>tniae}}("{{&displayName}} does not match format duration - " + {{&propertyName}});
{{/DURATION}}{{#JSON_POINTER}}{{&indent}}        if ({{>nullchk}}!JSONValidation.isJSONPointer({{&propertyName}}))
{{&indent}}            {{>tniae}}("{{&displayName}} does not match format json-pointer - " + {{&propertyName}});
{{/JSON_POINTER}}{{#RELATIVE_JSON_POINTER}}{{&indent}}        if ({{>nullchk}}!JSONValidation.isRelativeJSONPointer({{&propertyName}}))
{{&indent}}            {{>tniae}}("{{&displayName}} does not match format relative-json-pointer - " + {{&propertyName}});
{{/RELATIVE_JSON_POINTER}}{{#PATTERN}}{{&indent}}        if ({{>nullchk}}!{{&value.staticName}}.matcher({{&propertyName}}).find())
{{&indent}}            {{>tniae}}("{{&displayName}} does not match pattern " + {{&value.staticName}} + " - " + {{&propertyName}});
{{/PATTERN}}{{#MAXIMUM_INT}}{{&indent}}        if ({{&propertyName}} > {{&value}})
{{&indent}}            {{>tniae}}("{{&displayName}} > maximum {{&value}} - " + {{&propertyName}});
{{/MAXIMUM_INT}}{{#MAXIMUM_LONG}}{{&indent}}        if ({{&propertyName}} > {{&value}}L)
{{&indent}}            {{>tniae}}("{{&displayName}} > maximum {{&value}} - " + {{&propertyName}});
{{/MAXIMUM_LONG}}{{#MINIMUM_INT}}{{&indent}}        if ({{&propertyName}} < {{&value}})
{{&indent}}            {{>tniae}}("{{&displayName}} < minimum {{&value}} - " + {{&propertyName}});
{{/MINIMUM_INT}}{{#MINIMUM_LONG}}{{&indent}}        if ({{&propertyName}} < {{&value}}L)
{{&indent}}            {{>tniae}}("{{&displayName}} < minimum {{&value}} - " + {{&propertyName}});
{{/MINIMUM_LONG}}{{#MAXIMUM_DECIMAL}}{{&indent}}        if ({{>nullchk}}{{&propertyName}}.compareTo({{&value.staticName}}) > 0)
{{&indent}}            {{>tniae}}("{{&displayName}} > maximum {{&value.value}} - " + {{&propertyName}});
{{/MAXIMUM_DECIMAL}}{{#MAXIMUM_DECIMAL_ZERO}}{{&indent}}        if ({{>nullchk}}{{&propertyName}}.compareTo(BigDecimal.ZERO) > 0)
{{&indent}}            {{>tniae}}("{{&displayName}} > maximum 0 - " + {{&propertyName}});
{{/MAXIMUM_DECIMAL_ZERO}}{{#EXCLUSIVE_MAXIMUM_DECIMAL}}{{&indent}}        if ({{>nullchk}}{{&propertyName}}.compareTo({{&value.staticName}}) >= 0)
{{&indent}}            {{>tniae}}("{{&displayName}} >= exclusive maximum {{&value.value}} - " + {{&propertyName}});
{{/EXCLUSIVE_MAXIMUM_DECIMAL}}{{#EXCLUSIVE_MAXIMUM_DECIMAL_ZERO}}{{&indent}}        if ({{>nullchk}}{{&propertyName}}.compareTo(BigDecimal.ZERO) >= 0)
{{&indent}}            {{>tniae}}("{{&displayName}} >= exclusive maximum 0 - " + {{&propertyName}});
{{/EXCLUSIVE_MAXIMUM_DECIMAL_ZERO}}{{#MINIMUM_DECIMAL}}{{&indent}}        if ({{>nullchk}}{{&propertyName}}.compareTo({{&value.staticName}}) < 0)
{{&indent}}            {{>tniae}}("{{&displayName}} < minimum {{&value.value}} - " + {{&propertyName}});
{{/MINIMUM_DECIMAL}}{{#MINIMUM_DECIMAL_ZERO}}{{&indent}}        if ({{>nullchk}}{{&propertyName}}.compareTo(BigDecimal.ZERO) < 0)
{{&indent}}            {{>tniae}}("{{&displayName}} < minimum 0 - " + {{&propertyName}});
{{/MINIMUM_DECIMAL_ZERO}}{{#EXCLUSIVE_MINIMUM_DECIMAL}}{{&indent}}        if ({{>nullchk}}{{&propertyName}}.compareTo({{&value.staticName}}) <= 0)
{{&indent}}            {{>tniae}}("{{&displayName}} <= exclusive minimum {{&value.value}} - " + {{&propertyName}});
{{/EXCLUSIVE_MINIMUM_DECIMAL}}{{#EXCLUSIVE_MINIMUM_DECIMAL_ZERO}}{{&indent}}        if ({{>nullchk}}{{&propertyName}}.compareTo(BigDecimal.ZERO) <= 0)
{{&indent}}            {{>tniae}}("{{&displayName}} <= exclusive minimum 0 - " + {{&propertyName}});
{{/EXCLUSIVE_MINIMUM_DECIMAL_ZERO}}{{#RANGE_INT}}{{&indent}}        if ({{&propertyName}} < {{&value.first}} || {{&propertyName}} > {{&value.second}})
{{&indent}}            {{>tniae}}("{{&displayName}} not in range {{#value}}{{&first}}..{{&second}}{{/value}} - " + {{&propertyName}});
{{/RANGE_INT}}{{#RANGE_LONG}}{{&indent}}        if ({{&propertyName}} < {{&value.first}}L || {{&propertyName}} > {{&value.second}}L)
{{&indent}}            {{>tniae}}("{{&displayName}} not in range {{#value}}{{&first}}..{{&second}}{{/value}} - " + {{&propertyName}});
{{/RANGE_LONG}}{{#MULTIPLE_INT}}{{&indent}}        if ({{&propertyName}} % {{&value}} != 0)
{{&indent}}            {{>tniae}}("{{&displayName}} not a multiple of {{&value}} - " + {{&propertyName}});
{{/MULTIPLE_INT}}{{#MULTIPLE_LONG}}{{&indent}}        if ({{&propertyName}} % {{&value}}L != 0)
{{&indent}}            {{>tniae}}("{{&displayName}} not a multiple of {{&value}} - " + {{&propertyName}});
{{/MULTIPLE_LONG}}{{#MULTIPLE_DECIMAL}}{{&indent}}        if ({{>nullchk}}{{&propertyName}}.remainder({{&value.staticName}}) != 0)
{{&indent}}            {{>tniae}}("{{&displayName}} not a multiple of {{&value.value}} - " + {{&propertyName}});
{{/MULTIPLE_DECIMAL}}{{#MAX_ITEMS}}{{&indent}}        if ({{>nullchk}}{{&propertyName}}.size() > {{&value}})
{{&indent}}            {{>tniae}}("{{&displayName}} length > maximum {{&value}} - " + {{&propertyName}}.size());
{{/MAX_ITEMS}}{{#MIN_ITEMS}}{{&indent}}        if ({{>nullchk}}{{&propertyName}}.size() < {{&value}})
{{&indent}}            {{>tniae}}("{{&displayName}} length < minimum {{&value}} - " + {{&propertyName}}.size());
{{/MIN_ITEMS}}{{#CONST_ITEMS}}{{&indent}}        if ({{>nullchk}}{{&propertyName}}.size() != {{&value}})
{{&indent}}            {{>tniae}}("{{&displayName}} length not constant value {{&value}} - " + {{&propertyName}}.size());
{{/CONST_ITEMS}}{{#RANGE_ITEMS}}{{&indent}}        if ({{#nullable}}{{&propertyName}} != null && ({{/nullable}}{{&propertyName}}.size() < {{&value.first}} || {{&propertyName}}.size() > {{&value.second}}{{#nullable}}){{/nullable}})
{{&indent}}            {{>tniae}}("{{&displayName}} length not in range {{#value}}{{&first}}..{{&second}}{{/value}} - " + {{&propertyName}}.size());
{{/RANGE_ITEMS}}{{#MAX_LENGTH}}{{&indent}}        if ({{>nullchk}}{{&propertyName}}.length() > {{&value}})
{{&indent}}            {{>tniae}}("{{&displayName}} length > maximum {{&value}} - " + {{&propertyName}}.length());
{{/MAX_LENGTH}}{{#MIN_LENGTH}}{{&indent}}        if ({{>nullchk}}{{&propertyName}}.length() < {{&value}})
{{&indent}}            {{>tniae}}("{{&displayName}} length < minimum {{&value}} - " + {{&propertyName}}.length());
{{/MIN_LENGTH}}{{#CONST_LENGTH}}{{&indent}}        if ({{>nullchk}}{{&propertyName}}.length() != {{&value}})
{{&indent}}            {{>tniae}}("{{&displayName}} length != constant {{&value}} - " + {{&propertyName}}.length());
{{/CONST_LENGTH}}{{#RANGE_LENGTH}}{{&indent}}        if ({{#nullable}}{{&propertyName}} != null && ({{/nullable}}{{&propertyName}}.length() < {{&value.first}} || {{&propertyName}}.length() > {{&value.second}}{{#nullable}}){{/nullable}})
{{&indent}}            {{>tniae}}("{{&displayName}} length not in range {{#value}}{{&first}}..{{&second}}{{/value}} - " + {{&propertyName}}.length());
{{/RANGE_LENGTH}}{{#CONST_STRING}}{{&indent}}        if ({{>nullchk}}!{{&value.staticName}}.equals({{&propertyName}}))
{{&indent}}            {{>tniae}}("{{&displayName}} not constant value " + {{&value.staticName}} + " - " + {{&propertyName}});
{{/CONST_STRING}}{{#CONST_INT}}{{&indent}}        if ({{&propertyName}} != {{&value}})
{{&indent}}            {{>tniae}}("{{&displayName}} not constant value {{&value}} - " + {{&propertyName}});
{{/CONST_INT}}{{#CONST_LONG}}{{&indent}}        if ({{&propertyName}} != {{&value}}L)
{{&indent}}            {{>tniae}}("{{&displayName}} not constant value {{&value}} - " + {{&propertyName}});
{{/CONST_LONG}}{{#CONST_DECIMAL}}{{&indent}}        if ({{>nullchk}}{{&propertyName}}.compareTo({{&value.staticName}}) != 0)
{{&indent}}            {{>tniae}}("{{&displayName}} not constant value {{&value.value}} - " + {{&propertyName}});
{{/CONST_DECIMAL}}{{#CONST_DECIMAL_ZERO}}{{&indent}}        if ({{>nullchk}}{{&propertyName}}.compareTo(BigDecimal.ZERO) != 0)
{{&indent}}            {{>tniae}}("{{&displayName}} not constant value 0 - " + {{&propertyName}});
{{/CONST_DECIMAL_ZERO}}{{#ENUM_STRING}}{{&indent}}        if ({{>nullchk}}!{{&value.staticName}}.contains({{&propertyName}}))
{{&indent}}            {{>tniae}}("{{&displayName}} not in enumerated values - " + {{&propertyName}});
{{/ENUM_STRING}}{{#ENUM_INT}}{{&indent}}        if (!{{&value.staticName}}.contains({{&propertyName}}))
{{&indent}}            {{>tniae}}("{{&displayName}} not in enumerated values - " + {{&propertyName}});
{{/ENUM_INT}}{{#ARRAY_ITEMS}}{{#nullable}}{{&indent}}        if ({{&propertyName}} != null) {
{{#indent.increment}}{{>validations_array}}{{/indent.increment}}{{&indent}}        }
{{/nullable}}{{^nullable}}{{>validations_array}}{{/nullable}}{{/ARRAY_ITEMS}}{{/type}}{{/validations}}