{{&indent}}        for ({{#arrayItems}}{{>type}} {{&propertyName}}{{/arrayItems}} : {{&propertyName}}) {
{{#indent.increment}}{{#arrayItems}}{{>validations}}{{/arrayItems}}{{/indent.increment}}{{&indent}}        }
