{{>header}}
{{#localImports}}import { {{&className}} } from "./{{&className}}";{{#last}}
{{/last}}
{{/localImports}}{{#constraints}}{{#schema}}{{#description}}/**
 * {{&description}}
 */
{{/description}}{{/schema}}export interface {{&className}} {
{{#properties}}{{#schema}}{{#description}}    /** {{&safeDescription}} */
{{/description}}{{/schema}}    {{&name}}{{#nullable}}?{{/nullable}}: {{>type}};
{{/properties}}{{&closeBrace}}{{#nestedClasses}}

{{#constraints}}{{#isObject}}export interface {{&className}} {
{{#properties}}{{#schema}}{{#description}}    /** {{&safeDescription}} */
{{/description}}{{/schema}}    {{&name}}{{#nullable}}?{{/nullable}}: {{>type}};
{{/properties}}{{&closeBrace}}{{/isObject}}{{#isString}}export type {{&className}} =
{{#enumValues}}    "{{&.}}"{{^last}} |
{{/last}}{{/enumValues}}{{^enumValues}}any{{/enumValues}};{{/isString}}{{/constraints}}{{/nestedClasses}}{{/constraints}}
