{{>header}}
{{#localImports}}import { {{&className}} } from "./{{&className}}";{{#last}}
{{/last}}
{{/localImports}}{{#constraints}}{{#schema}}{{#description}}/**
 * {{&description}}
 */
{{/description}}{{/schema}}export interface {{&className}} {
{{#properties}}{{#schema}}{{#description}}    /** {{&safeDescription}} */
{{/description}}{{/schema}}    {{&name}}{{#nullable}}?{{/nullable}}: {{>type}}{{^last}},
{{/last}}{{/properties}}
}{{#nestedClasses}}

{{#constraints}}interface {{&className}} {
{{#properties}}{{#schema}}{{#description}}    /** {{&safeDescription}} */
{{/description}}{{/schema}}    {{&name}}{{#nullable}}?{{/nullable}}: {{>type}}{{^last}},
{{/last}}{{/properties}}
}{{/constraints}}{{/nestedClasses}}{{/constraints}}
