{{>header}}{{#constraints}}{{#schema}}{{#description}}/**
 * {{&description}}
 */
{{/description}}{{/schema}}interface {{&className}} {
{{#properties}}    {{&name}}{{#nullable}}?{{/nullable}}: {{>type}}{{^last}},
{{/last}}{{/properties}}
}{{/constraints}}
