{{>header}}
{{#constraints}}{{#schema}}{{#description}}/**
 * {{&description}}
 */
{{/description}}{{/schema}}type {{&className}} = {{#enumValues}}"{{&.}}"{{^last}} |
    {{/last}}{{/enumValues}}{{^enumValues}}any{{/enumValues}};{{/constraints}}
