{{! is it a local type
}}{{#isLocalType}}{{&localType.className}}{{/isLocalType}}{{^isLocalType}}{{! is it a string?
}}{{#isString}}string{{/isString}}{{^isString}}{{! is it an int?
}}{{#isInt}}number{{/isInt}}{{^isInt}}{{! is it a long?
}}{{#isLong}}number{{/isLong}}{{^isLong}}{{! is it a decimal?
}}{{#isDecimal}}number{{/isDecimal}}{{^isDecimal}}{{! is it a boolean?
}}{{#isBoolean}}boolean{{/isBoolean}}{{^isBoolean}}{{! is it an array?
}}{{#isArray}}{{#arrayItems}}{{>type}}{{/arrayItems}}[]{{/isArray}}{{^isArray}}{{! default any
}}any{{/isArray}}{{/isBoolean}}{{/isDecimal}}{{/isLong}}{{/isInt}}{{/isString}}{{/isLocalType}}