{{>header}}
{{#constraints}}{{#schema}}{{#description}}/**
 * {{&description}}
 */
{{/description}}{{/schema}}export type {{&className}} =
{{#enumValues}}    "{{&.}}"{{^last}} |
{{/last}}{{/enumValues}}{{^enumValues}}any{{/enumValues}};{{/constraints}}
