{{>header}}{{#packageName}}package {{&packageName}};

{{/packageName}}{{#constraints}}{{>system_imports}}{{#imports}}import {{&.}};
{{#last}}
{{/last}}{{/imports}}{{#schema}}{{#description}}/**
* {{&safeDescription}}
*/
{{/description}}{{/schema}}public interface {{&className}}{{>extends_implements}} {
{{#interfaceProperties}}{{#first}}
{{/first}}{{>interface_getter}}{{/interfaceProperties}}{{>add_statics}}
{{#nestedClasses}}
{{#constraints}}{{#indent.increment}}{{>nested_class}}{{/indent.increment}}{{/constraints}}{{/nestedClasses}}
}{{/constraints}}
