{{#schema}}{{#description}}    /**
     * {{&safeDescription}}
     */
{{/description}}{{/schema}}{{#isObject}}    public static class {{&className}}{{>extends_implements}} {

{{#nonBaseProperties}}        private final {{>type}} {{&javaName}};
{{#last}}
{{/last}}{{/nonBaseProperties}}{{#numberOfProperties}}        public {{&className}}({{#properties}}{{^first}},{{/first}}
                {{>type}} {{&javaName}}{{/properties}}
        ) {
{{#baseClass}}{{#constraints}}{{#properties}}{{#first}}            super({{/first}}{{^first}}, {{/first}}{{&javaName}}{{#last}});
{{/last}}{{/properties}}{{/constraints}}{{/baseClass}}{{#nonBaseProperties}}{{^isPrimitive}}{{^nullable}}            if ({{&javaName}} == null)
                {{>tniae}}("Must not be null - {{&javaName}}");
{{/nullable}}{{/isPrimitive}}{{>validations}}            this.{{&javaName}} = {{&javaName}};
{{/nonBaseProperties}}        }

{{/numberOfProperties}}{{>getters}}{{>equals}}
{{>hashcode}}
    }
{{/isObject}}{{#isString}}    public enum {{&className}} {
{{#enumValues}}        {{&.}}{{^last}},{{/last}}
{{/enumValues}}    }
{{/isString}}