{{! is it a system class? (UUID etc.)
}}{{#isSystemClass}}{{#systemClass}}{{! is it a DECIMAL?
}}{{#DECIMAL}}BigDecimal{{/DECIMAL}}{{! is it a DATE_TIME?
}}{{#DATE_TIME}}OffsetDateTime{{/DATE_TIME}}{{! is it a DATE?
}}{{#DATE}}LocalDate{{/DATE}}{{! is it a TIME?
}}{{#TIME}}OffsetTime{{/TIME}}{{! is it a DURATION?
}}{{#DURATION}}Duration{{/DURATION}}{{! is it a URI?
}}{{#URI}}URI{{/URI}}{{! is it a UUID?
}}{{#UUID}}UUID{{/UUID}}{{/systemClass}}{{/isSystemClass}}{{^isSystemClass}}{{! is it a local type
}}{{#isLocalType}}{{&localType.className}}{{/isLocalType}}{{^isLocalType}}{{! is it a string?
}}{{#isString}}String{{/isString}}{{^isString}}{{! is it an int?
}}{{#isInt}}int{{/isInt}}{{^isInt}}{{! is it a long?
}}{{#isLong}}long{{/isLong}}{{^isLong}}{{! is it a boolean?
}}{{#isBoolean}}boolean{{/isBoolean}}{{^isBoolean}}{{! is it an array?
}}{{#isArray}}{{#uniqueItems}}Set{{/uniqueItems}}{{^uniqueItems}}List{{/uniqueItems}}<{{#arrayItems}}{{>boxed_type}}{{/arrayItems}}>{{/isArray}}{{^isArray}}{{! default Object
}}Object{{/isArray}}{{/isBoolean}}{{/isLong}}{{/isInt}}{{/isString}}{{/isLocalType}}{{/isSystemClass}}