{{&indent}}        for ({{#arrayItems}}{{>type}} {{&javaName}}{{/arrayItems}} : {{&javaName}}) {
{{#indent.increment}}{{#arrayItems}}{{>validations}}{{/arrayItems}}{{/indent.increment}}{{&indent}}        }
